---
import { Image } from "astro:assets";

import indireta from "../../assets/services-assets/indireta.jpg";
import justacausa from "../../assets/services-assets/justacausa.jpg";
import horasextras from "../../assets/services-assets/horasextras.jpg";
import assedio from "../../assets/services-assets/assedio.jpg";
import acidente from "../../assets/services-assets/acidente.jpg";
import acumulo from "../../assets/services-assets/acumulo.jpg";
import vinculo from "../../assets/services-assets/vinculo.jpg";
import treze from "../../assets/services-assets/13.jpg";
---

<section
  aria-label="Seção de serviços oferecidos"
  id="services"
  class="min-h-svh bg-branco-gelo p-6 flex flex-col gap-10 sm:gap-12 lg:gap-16 lg:bg-[url(/services/bgservices.png)] lg:bg-cover lg:bg-center lg:p-8"
>
  <h2
    class="font-spectral text-3xl text-center text-azul-marinho-escuro font-semibold"
  >
    Como Podemos Ajudar
  </h2>
  <h3
    class="w-full max-w-130 mx-auto font-spectral text-xl text-center text-cinza-escuro font-medium"
  >
    Oferecemos assessoria jurídica completa para defender os direitos dos
    trabalhadores em diversas situações, como:
  </h3>

  <div class="relative mt-20">
    <!-- Mobile/Tablet: empilhado -->
    <ul class="flex flex-col gap-8 sm:gap-12 lg:hidden list-none p-0 m-0">
      <li
        class="min-h-[240px] w-full max-w-100 mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
      >
        <Image
          src={indireta}
          alt="recisão indireta"
          class="absolute object-cover h-full w-full -top-10"
          format="avif"
        />
        <h3
          class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
               text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
        >
          Rescisão Indireta
        </h3>
      </li>

      <li
        class="min-h-[240px] w-full max-w-100 mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
      >
        <Image
          src={justacausa}
          alt="recisão indireta"
          class="absolute object-cover h-full w-full"
          format="avif"
        />
        <h3
          class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
               text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
        >
          Reversão de Justa Causa Injusta
        </h3>
      </li>

      <li
        class="min-h-[240px] w-full max-w-100 mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
      >
        <Image
          src={horasextras}
          alt="recisão indireta"
          class="absolute object-cover h-full w-full -top-10"
          format="avif"
        />
        <h3
          class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
               text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
        >
          Horas Extras e Adicional Noturno não Pagos
        </h3>
      </li>

      <li
        class="min-h-[240px] w-full max-w-100 mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
      >
        <Image
          src={assedio}
          alt="recisão indireta"
          class="absolute object-cover h-full w-full -top-10"
          format="avif"
        />
        <h3
          class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
               text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
        >
          Assédio Moral e Sexual no Ambiente de Trabalho
        </h3>
      </li>

      <li
        class="min-h-[240px] w-full max-w-100 mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
      >
        <Image
          src={acidente}
          alt="recisão indireta"
          class="absolute object-cover h-full w-full -top-10"
          format="avif"
        />
        <h3
          class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
               text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
        >
          Acidentes de Trabalho <br />e Doenças Ocupacionais
        </h3>
      </li>

      <li
        class="min-h-[240px] w-full max-w-100 mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
      >
        <Image
          src={acumulo}
          alt="recisão indireta"
          class="absolute object-cover h-full w-full -top-10"
          format="avif"
        />
        <h3
          class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
               text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
        >
          Desvio e Acúmulo de Função
        </h3>
      </li>

      <li
        class="min-h-[240px] w-full max-w-100 mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
      >
        <Image
          src={vinculo}
          alt="recisão indireta"
          class="absolute object-cover h-full w-full -top-10"
          format="avif"
        />
        <h3
          class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
               text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
        >
          Reconhecimento de Vínculo Empregatício
        </h3>
      </li>

      <li
        class="min-h-[240px] w-full max-w-100 mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
      >
        <Image
          src={treze}
          alt="recisão indireta"
          class="absolute object-cover h-full w-full -top-10"
          format="avif"
        />
        <h3
          class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
               text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
        >
          Irregularidades no pagamento de Férias, 13º Salário e FGTS
        </h3>
      </li>
    </ul>

    <!-- Desktop (lg): carrossel automático -->
    <div
      class="hidden lg:block overflow-hidden py-6 lg:py-8 w-[90%] mx-auto 2xl:w-[80%] border-l-2 border-r-2 border-dourado-ocre"
    >
      <ul class="carousel-track flex lg:gap-x-6 list-none p-0 m-0">
        <!-- Primeira sequência de 8 itens -->
        <li
          class="min-h-[240px] flex-none w-[calc(100vw/3)] max-w-sm mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
        >
          <Image
            src={indireta}
            alt="recisão indireta"
            class="absolute object-cover h-full w-full -top-10"
            format="avif"
          />
          <h3
            class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
                 text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
          >
            Rescisão Indireta
          </h3>
        </li>

        <li
          class="min-h-[240px] flex-none w-[calc(100vw/3)] max-w-sm mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
        >
          <Image
            src={justacausa}
            alt="recisão indireta"
            class="absolute object-cover h-full w-full"
            format="avif"
          />
          <h3
            class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
                 text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
          >
            Reversão de Justa Causa Injusta
          </h3>
        </li>

        <li
          class="min-h-[240px] flex-none w-[calc(100vw/3)] max-w-sm mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
        >
          <Image
            src={horasextras}
            alt="recisão indireta"
            class="absolute object-cover h-full w-full -top-10"
            format="avif"
          />
          <h3
            class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
                 text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
          >
            Horas Extras e Adicional Noturno não Pagos
          </h3>
        </li>

        <li
          class="min-h-[240px] flex-none w-[calc(100vw/3)] max-w-sm mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
        >
          <Image
            src={assedio}
            alt="recisão indireta"
            class="absolute object-cover h-full w-full -top-10"
            format="avif"
          />
          <h3
            class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
                 text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
          >
            Assédio Moral e Sexual no Ambiente de Trabalho
          </h3>
        </li>

        <li
          class="min-h-[240px] flex-none w-[calc(100vw/3)] max-w-sm mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
        >
          <Image
            src={acidente}
            alt="recisão indireta"
            class="absolute object-cover h-full w-full -top-10"
            format="avif"
          />
          <h3
            class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
                 text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
          >
            Acidentes de Trabalho <br />e Doenças Ocupacionais
          </h3>
        </li>

        <li
          class="min-h-[240px] flex-none w-[calc(100vw/3)] max-w-sm mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
        >
          <Image
            src={acumulo}
            alt="recisão indireta"
            class="absolute object-cover h-full w-full -top-10"
            format="avif"
          />
          <h3
            class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
                 text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
          >
            Desvio e Acúmulo de Função
          </h3>
        </li>

        <li
          class="min-h-[240px] flex-none w-[calc(100vw/3)] max-w-sm mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
        >
          <Image
            src={vinculo}
            alt="recisão indireta"
            class="absolute object-cover h-full w-full -top-10"
            format="avif"
          />
          <h3
            class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
                 text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
          >
            Reconhecimento de Vínculo Empregatício
          </h3>
        </li>

        <li
          class="min-h-[240px] flex-none w-[calc(100vw/3)] max-w-sm mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
        >
          <Image
            src={treze}
            alt="recisão indireta"
            class="absolute object-cover h-full w-full -top-10"
            format="avif"
          />
          <h3
            class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
                 text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
          >
            Irregularidades no pagamento de Férias, 13º Salário e FGTS
          </h3>
        </li>

        <!-- Segunda sequência de 8 itens (para loop infinito no carrossel) -->
        <li
          class="min-h-[240px] flex-none w-[calc(100vw/3)] max-w-sm mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
        >
          <Image
            src={indireta}
            alt="recisão indireta"
            class="absolute object-cover h-full w-full -top-10"
            format="avif"
          />
          <h3
            class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
                 text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
          >
            Rescisão Indireta
          </h3>
        </li>

        <li
          class="min-h-[240px] flex-none w-[calc(100vw/3)] max-w-sm mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
        >
          <Image
            src={justacausa}
            alt="recisão indireta"
            class="absolute object-cover h-full w-full"
            format="avif"
          />
          <h3
            class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
                 text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
          >
            Reversão de Justa Causa Injusta
          </h3>
        </li>

        <li
          class="min-h-[240px] flex-none w-[calc(100vw/3)] max-w-sm mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
        >
          <Image
            src={horasextras}
            alt="recisão indireta"
            class="absolute object-cover h-full w-full -top-10"
            format="avif"
          />
          <h3
            class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
                 text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
          >
            Horas Extras e Adicional Noturno não Pagos
          </h3>
        </li>

        <li
          class="min-h-[240px] flex-none w-[calc(100vw/3)] max-w-sm mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
        >
          <Image
            src={assedio}
            alt="recisão indireta"
            class="absolute object-cover h-full w-full -top-10"
            format="avif"
          />
          <h3
            class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
                 text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
          >
            Assédio Moral e Sexual no Ambiente de Trabalho
          </h3>
        </li>

        <li
          class="min-h-[240px] flex-none w-[calc(100vw/3)] max-w-sm mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
        >
          <Image
            src={acidente}
            alt="recisão indireta"
            class="absolute object-cover h-full w-full -top-10"
            format="avif"
          />
          <h3
            class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
                 text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
          >
            Acidentes de Trabalho <br />e Doenças Ocupacionais
          </h3>
        </li>

        <li
          class="min-h-[240px] flex-none w-[calc(100vw/3)] max-w-sm mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
        >
          <Image
            src={acumulo}
            alt="recisão indireta"
            class="absolute object-cover h-full w-full -top-10"
            format="avif"
          />
          <h3
            class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
                 text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
          >
            Desvio e Acúmulo de Função
          </h3>
        </li>

        <li
          class="min-h-[240px] flex-none w-[calc(100vw/3)] max-w-sm mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
        >
          <Image
            src={vinculo}
            alt="recisão indireta"
            class="absolute object-cover h-full w-full -top-10"
            format="avif"
          />
          <h3
            class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
                 text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
          >
            Reconhecimento de Vínculo Empregatício
          </h3>
        </li>

        <li
          class="min-h-[240px] flex-none w-[calc(100vw/3)] max-w-sm mx-auto relative overflow-hidden outline-dourado-ocre outline-2 shadow-md"
        >
          <Image
            src={treze}
            alt="recisão indireta"
            class="absolute object-cover h-full w-full -top-10"
            format="avif"
          />
          <h3
            class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif leading-relaxed h-20
                 text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
          >
            Irregularidades no pagamento de Férias, 13º Salário e FGTS
          </h3>
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  @media (min-width: 1024px) {
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-300%);
      }
    }
    .carousel-track {
      animation: scroll 80s linear infinite;
      animation-play-state: running;
    }
    .carousel-track:hover {
      animation-play-state: paused;
    }
  }
</style>
