---
import { Image } from "astro:assets";

import indireta from "../../assets/services-assets/indireta.jpg";
import justacausa from "../../assets/services-assets/justacausa.jpg";
import horasextras from "../../assets/services-assets/horasextras.jpg";
import assedio from "../../assets/services-assets/assedio.jpg";
import acidente from "../../assets/services-assets/acidente.jpg";
import acumulo from "../../assets/services-assets/acumulo.jpg";
import vinculo from "../../assets/services-assets/vinculo.jpg";
import treze from "../../assets/services-assets/13.jpg";
---

<section class="min-h-svh bg-branco-gelo p-6 flex flex-col gap-10">
  <h2
    class="font-spectral text-3xl text-center text-azul-marinho-escuro font-semibold"
  >
    Como Podemos Ajudar
  </h2>
  <h3 class="font-spectral text-xl text-center text-cinza-escuro font-medium">
    Oferecemos assessoria jurídica completa para defender os direitos dos
    trabalhadores em diversas situações, como:
  </h3>
  <section class="flex flex-col gap-4">
    <article
      class="min-h-[200px] relative overflow-hidden outline-dourado-ocre outline-2"
    >
      <Image
        src={indireta}
        alt="recisão indireta"
        class="absolute object-cover h-full w-full -top-10"
        format="avif"
      />
      <h3
        class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif
               text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
      >
        Rescisão Indireta
      </h3>
    </article>
    <article
      class="min-h-[200px] relative overflow-hidden outline-dourado-ocre outline-2"
    >
      <Image
        src={justacausa}
        alt="recisão indireta"
        class="absolute object-cover h-full w-full"
        format="avif"
      />
      <h3
        class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif
               text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
      >
        Reversão de Justa Causa Injusta
      </h3>
    </article>
    <article
      class="min-h-[200px] relative overflow-hidden outline-dourado-ocre outline-2"
    >
      <Image
        src={horasextras}
        alt="recisão indireta"
        class="absolute object-cover h-full w-full -top-10"
        format="avif"
      />
      <h3
        class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif
               text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
      >
        Horas Extras e Adicional Noturno não Pagos
      </h3>
    </article>
    <article
      class="min-h-[200px] relative overflow-hidden outline-dourado-ocre outline-2"
    >
      <Image
        src={assedio}
        alt="recisão indireta"
        class="absolute object-cover h-full w-full -top-10"
        format="avif"
      />
      <h3
        class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif
               text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
      >
        Assédio Moral e Sexual no Ambiente de Trabalho
      </h3>
    </article>
    <article
      class="min-h-[200px] relative overflow-hidden outline-dourado-ocre outline-2"
    >
      <Image
        src={acidente}
        alt="recisão indireta"
        class="absolute object-cover h-full w-full -top-10"
        format="avif"
      />
      <h3
        class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif
               text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
      >
        Acidentes de Trabalho <br />e Doenças Ocupacionais
      </h3>
    </article>
    <article
      class="min-h-[200px] relative overflow-hidden outline-dourado-ocre outline-2"
    >
      <Image
        src={acumulo}
        alt="recisão indireta"
        class="absolute object-cover h-full w-full -top-10"
        format="avif"
      />
      <h3
        class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif
               text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
      >
        Desvio e Acúmulo de Função
      </h3>
    </article>
    <article
      class="min-h-[200px] relative overflow-hidden outline-dourado-ocre outline-2"
    >
      <Image
        src={vinculo}
        alt="recisão indireta"
        class="absolute object-cover h-full w-full -top-10"
        format="avif"
      />
      <h3
        class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif
               text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
      >
        Reconhecimento de Vínculo Empregatício
      </h3>
    </article>
    <article
      class="min-h-[200px] relative overflow-hidden outline-dourado-ocre outline-2"
    >
      <Image
        src={treze}
        alt="recisão indireta"
        class="absolute object-cover h-full w-full -top-10"
        format="avif"
      />
      <h3
        class="absolute bottom-0 left-0 w-full p-2 bg-white text-center font-serif
               text-xl font-semibold text-azul-marinho-escuro border-t-2 border-dourado-ocre"
      >
        Irregularidades no pagamento de Férias, 13º Salário e FGTS
      </h3>
    </article>
  </section>
</section>
